
html {
    box-sizing: border-box;
    font-size: 62.5%; /* RESET PARA REMS  */
  }
  * {
      margin: 0;
      padding: 0;
  }


  

//*Imports de SCSS*//

/*TITULOS*/
@import '_titulos.scss';
/*TABLAS*/
@import '_tablas.scss';